main {
    max-width: 800px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 200px 1fr;
    color: white;
}

nav {
    background-color: #3f4554;
}

section {
    background-color: #2c303c;
}
