section {
    display: grid;
    grid-template-columns:200px 180px 250px;
}

article {
    background-color: lightcyan;
    border: 1px solid gray;
    padding: 10px;
}

.ny{
    display:grid;
    grid-template-columns:250px 200px 180px;
    grid-template-rows:150px 75px;
}

.nyere{
    display:grid;
    grid-template-columns:250px 200px 180px;
    grid-auto-rows: 80px 140px 50px;
}

.nyeste{
    display: grid;
    grid-template-columns: 210px 210px 210px;
    /*Setter minimumshøyde og maksimumshøyde
    for rekkene, der maksimum tilpasses innholdet i rekka.*/
    grid-auto-rows: minmax(30px,auto);
}







